<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Szerkesztő - Zambra tech</title>

    <link rel="stylesheet" href="site_structure.css" type="text/css">
    <link rel="stylesheet" href="theme_palette.css" type="text/css">
    <link rel="stylesheet" href="theme_units.css" type="text/css">
    <link rel="stylesheet" href="theme_shopping-cart.css" type="text/css">
    <link rel="stylesheet" href="theme_listing.css" type="text/css">
    <link rel="stylesheet" href="theme_webmaster.css" type="text/css">
</head>
<body>
    <a id="top"></a>
    <header>
        <a href="index.html" id="site-logo">
            <!--<img src="graphics/site-profile.png">-->
            <img src="graphics/site-profile.svg">
        </a>
        <div id="site-main-header">
            <a href="index.html">
                <span id="site-title">Zambra infotech</span>
            </a>
            <span id="site-description">Gyorsan és azonnal!</span>
        </div>
        <div class="cart-summary mobile">
            <a href="summary.html?view=cart">
                <h3 class="title">Kosár</h3>
                <dl title="Kosár tartalma">
                    <dt>Termékek száma</dt>
                    <dd class="quantity">
                        <span>0 <span class="unit">termék</span></span>
                    </dd>

                    <dt>Összeg</dt>
                    <dd class="sum">
                        <span>0 <span class="unit">Ft-.</span></span>
                    </dd>
                </dl>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html#listing-computers" id="link-computers">
                        <span>Kész gépek</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-components" id="link-components">
                        <span>Részegységek</span>
                    </a>

                </li>
                <li>
                    <a href="index.html#listing-devices" id="link-devices">
                        <span>Eszközök</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-discounts" id="link-discounts">
                        <span>Szezonális</span>
                    </a>
                </li>
            </ul>
        </nav>
        <p class="login-banner mobile has-session">
            Belépve,&nbsp;mint
            <a href="show.html?view=profile" class="username">Altavista</a>!<br>
            (<a href="show.html?view=profile">Profil megtekintése</a>)
        </p>
    </header>
    <main>
        <section id="side-panel">
            <div class="cart-summary cart-empty">
                <a href="summary.html?view=cart">
                    <h3 class="title">Kosár</h3>
                    <dl title="Kosár tartalma">
                        <dt>Termékek száma</dt>
                        <dd class="quantity">
                            <span>0 <span class="unit">termék</span></span>
                        </dd>

                        <dt>Összeg</dt>
                        <dd class="sum">
                            <span>0 <span class="unit">Ft-.</span></span>
                        </dd>
                    </dl>
                </a>
            </div>
            <p class="login-banner has-session">
                Belépve,&nbsp;mint
                <a href="show.html?view=profile" class="username">Altavista</a>!<br>
                (<a href="show.html?view=profile">Profil megtekintése</a>)
            </p>
            <section id="site-news">
                <h3 class="title">Hírek</h3>
                <div id="twitter-news">Twitter-konténer</div>
            </section>
        </section>
        <div id="main-content">
            <section class="data-view">
            <h2>?view=profile</h2>
                <table>
                    <caption class="top">Belépési adatok</caption>
                    <tr>
                        <th scope="row">Teljes név</th>
                        <td>John Smith</td>
                    </tr>
                    <tr>
                        <th scope="row">E-mail cím</th>
                        <td>pcmasterrace@example.com</td>
                    </tr>
                    <tr>
                        <th scope="row">Jelszó</th>
                        <td><a href="edit.html?view=profile">&lt;Jelszó megváltoztatása&gt;</a></td>
                    </tr>
                </table>
                <table>
                    <caption class="top">Jogosultság</caption>
                    <tr>
                        <th scope="row">Státusz</th>
                        <td>Készlet-felügyelő</td>
                    </tr>
                    <tr>
                        <th scope="row">Raktárkezelés</th>
                        <td><a href="show.html?view=product_list">&lt;Készletrendező&gt;</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Rendelések</th>
                        <td><a href="show.html?view=order_list">&lt;Rendelés-nyilvántartó&gt;</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Felhasználók</th>
                        <td><a href="show.html?view=profile_list">&lt;Felhasználók&gt;</a></td>
                    </tr>
                </table>
                <form class="binary-checking" method="post" action="edit.php?region=profile&group=addressing">
                    <fieldset>
                        <legend>Cím-adatbázis</legend>
                        <input type="radio" id="addressing_1"
                             name="addressing-id[]" value="1">
                        <label for="addressing_1">
                            1. John Smith, 2508, Árvíztűrő Tükörfúrógép
                        </label><br>
                        <input type="radio" id="addressing_2"
                             name="addressing-id[]" value="2" checked="checked">
                        <label for="addressing_2">
                            2. Tony Amato, 958, The quick brown fox jumps over the lazy dog
                        </label><br>

                        <table>
                            <caption class="top">Aktív számlázási cím</caption>
                            <tr>
                                <th scope="row">Név</th>
                                <td>John Smith</td>
                            </tr>
                            <tr>
                                <th scope="row">Lakcím</th>
                                <td>
                                    Mozilla<br>
                                    331 E. Evelyn Avenue<br>
                                    Mountain View, CA<br>
                                    94041<br>
                                    USA<br>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">E-mail</th>
                                <td>pcmasterrace@example.com</td>
                            </tr>
                            <tr>
                                <th scope="row">Telefonszám</th>
                                <td>844-555-0172</td>
                            </tr>
                        </table>

                        <input type="checkbox" id="is_delivery_same"
                             name="is_delivery_same" value="checked" checked="checked">
                        <label for="is_delivery_same">
                            A szállítási cím megegyezik a számlázási címmel.
                        </label><br>
                        <p class="warning-banner">
                            Adatmódosítás történt.<br>
                            Küldje el az űrlapot, mielőtt továbblépne!
                        </p>
                        <input type="submit" name="user_addressing_form" value="Küldés">
                    </fieldset>
                </form>
                <table>
                    <caption class="bottom">Rendeléseim</caption>
                    <tr>
                        <th scope="col">Termékek</th>
                        <th scope="col">Rendelés dátuma</th>
                        <th scope="col">Állapot</th>
                    </tr>
                    <tr>
                        <td>
                            <p><a href="show.html?view=product&id=1">
                                RUSSELL-HOBBS 18036-56 Kenyérsütő
                            </a></p>
                        </td>
                        <td>2020. április 1.</td>
                        <td>Fizetetlen <a href="summary.html?view=order&id=1">
                            <img src="graphics/351525.png" width="25px"
                                alt="Befizetés" title="Befizetés">
                        </a></td>
                    </tr>
                </table>
            </section>
            <section class="data-view">
            <h2>?view=product_list</h2>
                <div class="knobs">
                    <span class="active">Idő szerint</span>
                </div>
                <div class="knobs"><a
                    href="show.html?view=product_list&sort_order=asc">Növekvő</a><a
                    href="" class="active">Csökkenő</a>
                </div>
                <div class="knobs"><a
                    href="edit.html?view=product_list">Szerkesztés</a>
                </div>
                <table>
                    <caption class="bottom">Árukészlet</caption>
                    <tr>
                        <th scope="col"><span alt="Azonosító">#</span></th>
                        <th scope="col">Termék</th>
                        <th scope="col">Mennyiség</th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="show.html?view=product&id=1">
                            RUSSELL-HOBBS 18036-56 Kenyérsütő
                        </a></td>
                        <td>3</td>
                        <td><a href="edit.html?view=product&id=1">
                            <img src="graphics/351525.png" width="25px"
                                alt="Szerkesztés" title="Szerkesztés">
                        </a></td>
                    </tr>
                </table>
                <div class="knobs paging">
                    <span class="active">1</span>
                </div>
            </section>
            <section class="data-view">
            <h2>?view=profile_list</h2>
                <table>
                    <caption class="bottom">Felhasználók</caption>
                    <tr>
                        <th scope="col"><span alt="Azonosító">#</span></th>
                        <th scope="col">Felhasználó</th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="show.html?view=profile&id=1">
                            Altavista
                        </a></td>
                        <td><a href="edit.html?view=profile&id=1">
                            <img src="graphics/351525.png" width="25px"
                                alt="Módosítás" title="Módosítás">
                        </a></td>
                    <tr>
                    </tr>
                        <td>2</td>
                        <td><a href="show.html?view=profile&id=2">
                            Raken
                        </a></td>
                        <td><a href="edit.html?view=profile&id=2">
                            <img src="graphics/351525.png" width="25px"
                                alt="Módosítás" title="Módosítás">
                        </a></td>
                    </tr>
                </table>
            </section>
            <section class="data-view">
            <h2>?view=order_list</h2>
                <table>
                    <caption class="bottom">Megrendelések</caption>
                    <tr>
                        <th scope="col"><span alt="Azonosító">#</span></th>
                        <th scope="col">Megrendelő</th>
                        <th scope="col">Rendelt áru</th>
                        <th scope="col">Átvétel/Állapot</th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td><a href="show.html?view=profile&id=1">
                            Altavista
                        </a></td>
                        <td>
                            <p><a href="show.html?view=product&id=1">
                                (1) RUSSELL-HOBBS 18036-56 Kenyérsütő
                            </a></p>
                        </td>
                        <td>Fizetés alatt</td>
                        <td><a href="edit.html?view=order&id=1">
                            <img src="graphics/351525.png" width="25px"
                                alt="Szerkesztés" title="Szerkesztés">
                        </a></td>
                    </tr>
                </table>
            </section>
        </div>
    </main>
    <footer>
        <table id="opening_hours">
            <caption class="top">Nyitvatartási rend</caption>
            <tr>
                <th>Nap</th>
                <th>Nyitva</th>
            </tr>
            <tr>
                <td>Hétfő-Péntek</td>
                <td>8-16 óra</td>
            </tr>
            <tr>
                <td>Szombat</td>
                <td>8-14 óra</td>
            </tr>
            <tr>
                <td>Vasárnap</td>
                <td>--</td>
            </tr>
        </table>
        <p>
            Vállalkozásunk számítástechnikai eszközök értékesítésével foglalkozik, elsődlegesen Magyarországon belül, postai úton.
        </p>
        <p>
            Átvétel: Személyesen pesti telephelyünkön, egyébként Foxpost- és MPL-csomagautomatán, illetve futáron keresztül vehetik át rendelésüket.
        </p>
        <p id="footer-data">
            &copy; 2020. NetenVeszem Kft.;
            <a href="https://twitter.com">Twitter&nbsp;oldalunk</a>&nbsp;<a 
             href="feedback.html">Visszajelzés</a>
        </p>
        <!--
        <p>
            További információk: Adatkezelési információk, Szállítási információk
        </p>
        -->
    </footer>
</body>
</html>
