<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="site_structure.css" type="text/css">
    <link rel="stylesheet" href="theme_palette.css" type="text/css">
    <link rel="stylesheet" href="theme_units.css" type="text/css">
    <link rel="stylesheet" href="theme_shopping-cart.css" type="text/css">
    <link rel="stylesheet" href="theme_listing.css" type="text/css">
    <link rel="stylesheet" href="theme_webmaster.css" type="text/css">
</head>
<body>
    <a id="top"></a>
    <header>
        <a href="index.html" id="site-logo">
            <!--<img src="graphics/site-profile.png">-->
            <img src="graphics/site-profile.svg">
        </a>
        <div id="site-main-header">
            <a href="index.html">
                <span id="site-title">MehInformatik</span>
            </a>
            <span id="site-description">Kapod, amit látsz</span>
        </div>
        <div class="cart-summary mobile">
            <a href="summary.html?view=cart">
                <h3 class="title">Kosár</h3>
                <dl title="Kosár tartalma">
                    <dt>Termékek száma</dt>
                    <dd class="quantity">
                        <span>0 <span class="unit">termék</span></span>
                    </dd>

                    <dt>Összeg</dt>
                    <dd class="sum">
                        <span>0 <span class="unit">Ft-.</span></span>
                    </dd>
                </dl>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html#listing-computers" id="link-computers">
                        <span>Kész gépek</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-components" id="link-components">
                        <span>Részegységek</span>
                    </a>

                </li>
                <li>
                    <a href="index.html#listing-devices" id="link-devices">
                        <span>Eszközök</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-discounts" id="link-discounts">
                        <span>Szezonális</span>
                    </a>
                </li>
            </ul>
        </nav>
	<a href="login.html" class="login-banner mobile">Belépés/Regisztráció</a>
    </header>
    <main>
        <section id="side-panel">
            <div class="cart-summary cart-empty">
                <a href="summary.html?view=cart">
                    <h3 class="title">Kosár</h3>
                    <dl title="Kosár tartalma">
                        <dt>Termékek száma</dt>
                        <dd class="quantity">
                            <span>0 <span class="unit">termék</span></span>
                        </dd>

                        <dt>Összeg</dt>
                        <dd class="sum">
                            <span>0 <span class="unit">Ft-.</span></span>
                        </dd>
                    </dl>
                </a>
            </div>
            <a href="login.html" class="login-banner">Regisztráció</a>
            <form action="login.php" method="post">
                <fieldset>
                    <legend>Belépés</legend>
                    <label>Email
                        <br><input type="email" name="login_id" required>
                    </label><br>
                    <label>Jelszó
                        <br><input type="password" name="login_password" required>
                    </label><br>
                    <input type="submit" value="Küldés">
                </fieldset>
            </form>
            <section id="site-news">
                <h3 class="title">Hírek</h3>
                <div id="twitter-news">Twitter-konténer</div>
            </section>
        </section>
        <div id="main-content">
            <a id="listing-computers" class="design-triangle"></a>
            <section class="item-section">
                <div class="breadcrumb"> &gt;
                    <a href="#top">Főoldal</a> &gt;
                    <a href="#listing-computers"><h2>Kész&nbsp;gépek</h2></a>
                </div>
                <article class="item-discount">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp">
                    <dl class="description">
                        <div>
                            <dt>Kapacitás (kg)</dt>
                            <dd>1 kg</dd>
                        </div>
                        <div>
                           <dt>Késleltetett indítás</dt>
                           <dd>Igen</dd>
                        </div>
                        <div>
                           <dt>Színek</dt>
                           <dd>Fehér</dd>
                        </div>
                        <div>
                           <dt>Melegentartó funkció</dt>
                           <dd>Igen</dd>
                        </div>
                        <div>
                           <dt>Funkciók száma</dt>
                           <dd>12 db</dd>
                        </div>
                        <div>
                           <dt>Dagasztó lapok száma</dt>
                          <dd>1 db</dd>
                        </div>
                        <div>
                           <dt>Gluténmentes sütés</dt>
                          <dd>Igen</dd>
                        </div>
                    </dl>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Készleten</dd>
                        </div>
                    </dl>
                </article>
                <article class="item-shortage">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp">
                    <p class="no_description">Jelenleg nem érhető el leírás</p>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Nem elérhető</dd>
                        </div>
                    </dl>
                </article>
                <article class="item-shortage">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp">
                    <p class="no_description">Jelenleg nem érhető el leírás</p>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Nem elérhető</dd>
                        </div>
                    </dl>
                </article>
                <article class="item-shortage">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp">
                    <p class="no_description">Jelenleg nem érhető el leírás</p>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Nem elérhető</dd>
                        </div>
                    </dl>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <table id="opening_hours">
            <caption class="top">Nyitvatartási rend</caption>
            <tr>
                <th>Nap</th>
                <th>Nyitva</th>
            </tr>
            <tr>
                <td>Hétfő-Péntek</td>
                <td>8-16 óra</td>
            </tr>
            <tr>
                <td>Szombat</td>
                <td>8-14 óra</td>
            </tr>
            <tr>
                <td>Vasárnap</td>
                <td>--</td>
            </tr>
        </table>
        <p>
            Vállalkozásunk számítástechnikai eszközök értékesítésével foglalkozik, elsődlegesen Magyarországon belül, postai úton.
        </p>
        <p>
            Átvétel: Személyesen pesti telephelyünkön, egyébként Foxpost- és MPL-csomagautomatán, illetve futáron keresztül vehetik át rendelésüket.
        </p>
        <p id="footer-data">
            &copy; 2020. NetenVeszem Kft.; <a href="https://twitter.com">Twitter&nbsp;oldalunk</a>
        </p>
        <!--
        <p>
            További információk: Adatkezelési információk, Szállítási információk
        </p>
        -->
    </footer>
</body>
</html>
