<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="site_structure.css" type="text/css">
    <link rel="stylesheet" href="theme_palette.css" type="text/css">
    <link rel="stylesheet" href="theme_units.css" type="text/css">
    <link rel="stylesheet" href="theme_shopping-cart.css" type="text/css">
    <link rel="stylesheet" href="theme_listing.css" type="text/css">
    <link rel="stylesheet" href="theme_webmaster.css" type="text/css">
    <style rel="stylesheet">
        #side-panel {
            display: none;
        }
        #main-content {
            margin-right: 0;
        }
        #main-content > * {
            border-right: 0;
        }
    </style>
</head>
<body>
    <a id="top"></a>
    <header>
        <a href="index.html" id="site-logo">
            <!--<img src="graphics/site-profile.png">-->
            <img src="graphics/site-profile.svg">
        </a>
        <div id="site-main-header">
            <a href="index.html">
                <span id="site-title">MehInformatik</span>
            </a>
            <span id="site-description">Kapod, amit látsz</span>
        </div>
        <div class="cart-summary mobile">
            <a href="summary.html?view=cart">
                <h3 class="title">Kosár</h3>
                <dl title="Kosár tartalma">
                    <dt>Termékek száma</dt>
                    <dd class="quantity">
                        <span>0 <span class="unit">termék</span></span>
                    </dd>

                    <dt>Összeg</dt>
                    <dd class="sum">
                        <span>0 <span class="unit">Ft-.</span></span>
                    </dd>
                </dl>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html#listing-computers" id="link-computers">
                        <span>Kész gépek</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-components" id="link-components">
                        <span>Részegységek</span>
                    </a>

                </li>
                <li>
                    <a href="index.html#listing-devices" id="link-devices">
                        <span>Eszközök</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-discounts" id="link-discounts">
                        <span>Szezonális</span>
                    </a>
                </li>
            </ul>
        </nav>
	<a href="login.html" class="login-banner mobile">Belépés/Regisztráció</a>
    </header>
    <main>
        <section id="side-panel">
            <div class="cart-summary cart-empty">
                <a href="summary.html?view=cart">
                    <h3 class="title">Kosár</h3>
                    <dl title="Kosár tartalma">
                        <dt>Termékek száma</dt>
                        <dd class="quantity">
                            <span>0 <span class="unit">termék</span></span>
                        </dd>

                        <dt>Összeg</dt>
                        <dd class="sum">
                            <span>0 <span class="unit">Ft-.</span></span>
                        </dd>
                    </dl>
                </a>
            </div>
            <a href="login.html" class="login-banner">Regisztráció</a>
            <form action="login.php" method="post">
                <fieldset>
                    <legend>Belépés</legend>
                    <label>Email
                        <br><input type="email" name="login_id" required>
                    </label><br>
                    <label>Jelszó
                        <br><input type="password" name="login_password" required>
                    </label><br>
                    <input type="submit" value="Küldés">
                </fieldset>
            </form>
            <section id="site-news">
                <h3 class="title">Hírek</h3>
                <div id="twitter-news">Twitter-konténer</div>
            </section>
        </section>
        <div id="main-content">
            <form action="login.php" method="post">
                <fieldset>
                    <legend>Belépés</legend>
                    <label>Email:
                        <input type="email" name="login_id" required>
                    </label><br>
                    <label>Jelszó:
                        <input type="password" name="login_password" required>
                    </label><br>
                    <input type="submit" value="Küldés">
                </fieldset>
            </form>
            <form action="register.php" method="post" id="reg-form">
                <fieldset>
                    <legend>Új Fiók Létrehozása</legend>
                    <label>Teljes neve:
                        <input name="reg_full_name" required>
                    </label>
                    <br>
                    <label>E-mail címe:
                        <input type="email" name="reg_email" required>
                    </label>
                    <br>
                    <label>E-mail ismét:
                        <input type="email" name="reg_email2" required>
                    </label>
                    <br>
                    <input type="submit" value="Küldés">
                </fieldset>
            </form>
        </div>
    </main>
    <footer>
        <table id="opening_hours">
            <caption class="top">Nyitvatartási rend</caption>
            <tr>
                <th>Nap</th>
                <th>Nyitva</th>
            </tr>
            <tr>
                <td>Hétfő-Péntek</td>
                <td>8-16 óra</td>
            </tr>
            <tr>
                <td>Szombat</td>
                <td>8-14 óra</td>
            </tr>
            <tr>
                <td>Vasárnap</td>
                <td>--</td>
            </tr>
        </table>
        <p>
            Vállalkozásunk számítástechnikai eszközök értékesítésével foglalkozik, elsődlegesen Magyarországon belül, postai úton.
        </p>
        <p>
            Átvétel: Személyesen pesti telephelyünkön, egyébként Foxpost- és MPL-csomagautomatán, illetve futáron keresztül vehetik át rendelésüket.
        </p>
        <p id="footer-data">
            &copy; 2020. NetenVeszem Kft.; <a href="https://twitter.com">Twitter&nbsp;oldalunk</a>
        </p>
        <!--
        <p>
            További információk: Adatkezelési információk, Szállítási információk
        </p>
        -->
    </footer>
</body>
</html>
