<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Előnézet - Zambra tech</title>

    <link rel="stylesheet" href="site_structure.css" type="text/css">
    <link rel="stylesheet" href="theme_palette.css" type="text/css">
    <link rel="stylesheet" href="theme_units.css" type="text/css">
    <link rel="stylesheet" href="theme_shopping-cart.css" type="text/css">
    <link rel="stylesheet" href="theme_listing.css" type="text/css">
    <link rel="stylesheet" href="theme_webmaster.css" type="text/css">
</head>
<body>
    <a id="top"></a>
    <header>
        <h3 class="warning-banner preview-banner">Vigyázat! Előnézeti módban van!</h3>
        <a href="index.html" id="site-logo">
            <!--<img src="graphics/site-profile.png">-->
            <img src="graphics/site-profile.svg">
        </a>
        <div id="site-main-header">
            <a href="index.html">
                <span id="site-title">Zambra infotech</span>
            </a>
            <span id="site-description">Gyorsan és azonnal!</span>
        </div>
        <div class="cart-summary mobile">
            <a href="summary.html?view=cart">
                <h3 class="title">Kosár</h3>
                <dl title="Kosár tartalma">
                    <dt>Termékek száma</dt>
                    <dd class="quantity">
                        <span>0 <span class="unit">termék</span></span>
                    </dd>

                    <dt>Összeg</dt>
                    <dd class="sum">
                        <span>0 <span class="unit">Ft-.</span></span>
                    </dd>
                </dl>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html#listing-computers" id="link-computers">
                        <span>Kész gépek</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-components" id="link-components">
                        <span>Részegységek</span>
                    </a>

                </li>
                <li>
                    <a href="index.html#listing-devices" id="link-devices">
                        <span>Eszközök</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-discounts" id="link-discounts">
                        <span>Szezonális</span>
                    </a>
                </li>
            </ul>
        </nav>
        <p class="login-banner mobile has-session">
            Belépve,&nbsp;mint
            <a href="show.html?view=profile" class="username">Altavista</a>!<br>
            (<a href="show.html?view=profile">Profil megtekintése</a>)
        </p>
    </header>
    <main>
        <section id="side-panel">
            <div class="cart-summary cart-empty">
                <a href="summary.html?view=cart">
                    <h3 class="title">Kosár</h3>
                    <dl title="Kosár tartalma">
                        <dt>Termékek száma</dt>
                        <dd class="quantity">
                            <span>0 <span class="unit">termék</span></span>
                        </dd>

                        <dt>Összeg</dt>
                        <dd class="sum">
                            <span>0 <span class="unit">Ft-.</span></span>
                        </dd>
                    </dl>
                </a>
            </div>
            <p class="login-banner has-session">
                Belépve,&nbsp;mint
                <a href="show.html?view=profile" class="username">Altavista</a>!<br>
                (<a href="show.html?view=profile">Profil megtekintése</a>)
            </p>
            <section id="site-news">
                <h3 class="title">Hírek</h3>
                <div id="twitter-news">Twitter-konténer</div>
            </section>
        </section>
        <div id="main-content">
            <a id="listing-computers" class="design-triangle"></a>
            <section class="item-section">
                <div class="breadcrumb"> &gt;
                    <a href="#top">Főoldal</a> &gt;
                    <a href="#listing-computers"><h2>Kész&nbsp;gépek</h2></a>
                    <span class="knobs right">
                        <a href="edit.html?view=prod_manage&formid=1"
                            >&lt;-&nbsp;Vissza</a><a href="summary.html?view=product_list&list_id=10"
                            >Összesítés&nbsp;-&gt;
                            </a>
                    </span>
                </div>
                <article class="item-discount product-block">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp" width="100px">
                    <dl class="description">
                        <div>
                            <dt>Kapacitás (kg)</dt>
                            <dd>1 kg</dd>
                        </div>
                        <div>
                           <dt>Késleltetett indítás</dt>
                           <dd>Igen</dd>
                        </div>
                        <div>
                           <dt>Színek</dt>
                           <dd>Fehér</dd>
                        </div>
                        <div>
                           <dt>Melegentartó funkció</dt>
                           <dd>Igen</dd>
                        </div>
                        <div>
                           <dt>Funkciók száma</dt>
                           <dd>12 db</dd>
                        </div>
                        <div>
                           <dt>Dagasztó lapok száma</dt>
                          <dd>1 db</dd>
                        </div>
                        <div>
                           <dt>Gluténmentes sütés</dt>
                          <dd>Igen</dd>
                        </div>
                    </dl>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Készleten</dd>
                        </div>
                    </dl>
                    <div class="knobs">
                        <a href="" class="highlight">Kosárba</a>
                    </div>
                </article>
                <article class="item-shortage product-block">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp" width="100px">
                    <p class="no_description">Jelenleg nem érhető el leírás</p>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Nem elérhető</dd>
                        </div>
                    </dl>
                </article>
                <article class="item-shortage product-block">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp" width="100px">
                    <p class="no_description">Jelenleg nem érhető el leírás</p>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Nem elérhető</dd>
                        </div>
                    </dl>
                </article>
                <article class="item-shortage product-block">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp" width="100px">
                    <p class="no_description">Jelenleg nem érhető el leírás</p>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Nem elérhető</dd>
                        </div>
                    </dl>
                </article>
                <section class="modpanel-section-additem">
                    <a href="administer.php">
                        <span><p>Új</p> hozzáadása<br></span>/Meglévő módosítása
                    </a>
                </section>


            </section>
        </div>
    </main>
    <footer>
        <table id="opening_hours">
            <caption class="top">Nyitvatartási rend</caption>
            <tr>
                <th>Nap</th>
                <th>Nyitva</th>
            </tr>
            <tr>
                <td>Hétfő-Péntek</td>
                <td>8-16 óra</td>
            </tr>
            <tr>
                <td>Szombat</td>
                <td>8-14 óra</td>
            </tr>
            <tr>
                <td>Vasárnap</td>
                <td>--</td>
            </tr>
        </table>
        <p>
            Vállalkozásunk számítástechnikai eszközök értékesítésével foglalkozik, elsődlegesen Magyarországon belül, postai úton.
        </p>
        <p>
            Átvétel: Személyesen pesti telephelyünkön, egyébként Foxpost- és MPL-csomagautomatán, illetve futáron keresztül vehetik át rendelésüket.
        </p>
        <p id="footer-data">
            &copy; 2020. NetenVeszem Kft.;
            <a href="https://twitter.com">Twitter&nbsp;oldalunk</a>&nbsp;<a 
             href="feedback.html">Visszajelzés</a>
        </p>
        <!--
        <p>
            További információk: Adatkezelési információk, Szállítási információk
        </p>
        -->
    </footer>
</body>
</html>
