<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Adatok - Zambra tech</title>

    <link rel="stylesheet" href="site_structure.css" type="text/css">
    <link rel="stylesheet" href="theme_palette.css" type="text/css">
    <link rel="stylesheet" href="theme_units.css" type="text/css">
    <link rel="stylesheet" href="theme_shopping-cart.css" type="text/css">
    <link rel="stylesheet" href="theme_listing.css" type="text/css">
    <link rel="stylesheet" href="theme_webmaster.css" type="text/css">

    <link rel="stylesheet" href="some_other_ugly_hotfix.css" type="text/css">
<style>
.product-block {
    line-height: 1.3em;
    font-size: 1.1em;
}
.product-block > img {
    float: left;
    width: 30%;
}
.product-block > .description, .product-block > .item-pricing {
    margin-top: 0.5em;

    margin-left: 35%;
    max-width: 60%;
}
.product-block > .description > *:nth-child(2n-1) {
    background-color: #C5C1C0;
}
.product-block > .description > *:nth-child(2n-1) {
    background-color: rgba(220, 220, 220, 0.5);
}
</style>
</head>
<body>
    <a id="top"></a>
    <header>
        <a href="index.html" id="site-logo">
            <!--<img src="graphics/site-profile.png">-->
            <img src="graphics/site-profile.svg" alt="Oldal-logó">
        </a>
        <div id="site-main-header">
            <a href="index.html">
                <span id="site-title">Zambra infotech</span>
            </a>
            <span id="site-description">Gyorsan és azonnal!</span>
        </div>
        <div class="cart-summary mobile">
            <a href="summary.html?view=cart">
                <h3 class="title">Kosár</h3>
                <dl title="Kosár tartalma">
                    <dt>Termékek száma</dt>
                    <dd class="quantity">
                        <span>0 <span class="unit">termék</span></span>
                    </dd>

                    <dt>Összeg</dt>
                    <dd class="sum">
                        <span>0 <span class="unit">Ft-.</span></span>
                    </dd>
                </dl>
            </a>
        </div>
        <nav>
            <ul>
                <li>
                    <a href="index.html#listing-computers" id="link-computers">
                        <span>Kész gépek</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-components" id="link-components">
                        <span>Részegységek</span>
                    </a>

                </li>
                <li>
                    <a href="index.html#listing-devices" id="link-devices">
                        <span>Eszközök</span>
                    </a>
                </li>
                <li>
                    <a href="index.html#listing-discounts" id="link-discounts">
                        <span>Szezonális</span>
                    </a>
                </li>
            </ul>
        </nav>
        <p class="login-banner mobile has-session">
            Belépve,&nbsp;mint
            <span class="username">Altavista</span>!<br>
        </p>
    </header>
    <main>
        <section id="side-panel">
            <div class="cart-summary cart-empty">
                <a href="summary.html?view=cart">
                    <h3 class="title">Kosár</h3>
                    <dl title="Kosár tartalma">
                        <dt>Termékek száma</dt>
                        <dd class="quantity">
                            <span>0 <span class="unit">termék</span></span>
                        </dd>

                        <dt>Összeg</dt>
                        <dd class="sum">
                            <span>0 <span class="unit">Ft-.</span></span>
                        </dd>
                    </dl>
                </a>
            </div>
            <p class="login-banner has-session">
                Belépve,&nbsp;mint
                <span class="username">Altavista</span>!<br>
            </p>
            <section id="site-news">
                <h3 class="title">Hírek</h3>
                <div id="twitter-news">Twitter-konténer</div>
            </section>
        </section>
        <div id="main-content">
            <section class="data-view">
            <h2>?view=profile</h2>
                <table>
                    <caption class="top">Belépési adatok</caption>
                    <tr>
                        <th scope="row" id="my-account-full-name">Teljes név</th>
                        <td headers="my-account-full-name">John Smith</td>
                    </tr>
                    <tr>
                        <th scope="row" id="my-account-email-address">E-mail cím</th>
                        <td headers="my-account-email-address">pcmasterrace@example.com</td>
                    </tr>
                    <tr>
                        <th scope="row" id="my-account-password">Jelszó</th>
                        <td headers="my-account-password">********</td>
                    </tr>
                    <tr>
                        <th scope="row" id="my-account-operation">Módosítás</th>
                        <td headers="my-account-operation"><a href="edit.html?view=profile">
                            &lt;Adat-frissítés&gt;
                        </a></td>
                    </tr>
                </table>
                <table>
                    <caption class="top">Jogosultság</caption>
                    <tr>
                        <th scope="row" id="account-status">Státusz</th>
                        <td headers="account-status">Készlet-felügyelő</td>
                    </tr>
                    <tr>
                        <th scope="row" id="task-stock-managing">Raktárkezelés</th>
                        <td headers="task-stock-managing">
                            <a href="show.html?view=product_list">&lt;Készletrendező&gt;</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" id="task-order-managing">Rendelések</th>
                        <td headers="task-order-managing">
                            <a href="show.html?view=order_list">&lt;Rendelés-nyilvántartó&gt;</a>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row" id="task-user-administrating">Felhasználók</th>
                        <td headers="task-user-administrating">
                            <a href="show.html?view=profile_list">&lt;Felhasználók&gt;</a>
                        </td>
                    </tr>
                </table>
                <form class="binary-checking" method="post" action="edit.php?region=profile&group=addressing">
                    <fieldset>
                        <legend>Cím-adatbázis</legend>
                        <input type="radio" id="addressing_1"
                             name="addressing-id[]" value="1">
                        <label for="addressing_1">
                            1. John Smith, 2508, Árvíztűrő Tükörfúrógép
                        </label><br>
                        <input type="radio" id="addressing_2"
                             name="addressing-id[]" value="2" checked="checked">
                        <label for="addressing_2">
                            2. Tony Amato, 958, The quick brown fox jumps over the lazy dog
                        </label><br>

                        <table>
                            <caption class="top">Aktív számlázási cím</caption>
                            <tr>
                                <th scope="row" id="billing-full-name">Név</th>
                                <td headers="billing-full-name">John Smith</td>
                            </tr>
                            <tr>
                                <th scope="row" id="billing-address">Lakcím</th>
                                <td headers="billing-address">
                                    Mozilla<br>
                                    331 E. Evelyn Avenue<br>
                                    Mountain View, CA<br>
                                    94041<br>
                                    USA<br>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row" id="billing-email">E-mail</th>
                                <td headers="billing-email">pcmasterrace@example.com</td>
                            </tr>
                            <tr>
                                <th scope="row" id="billing-phone">Telefonszám</th>
                                <td headers="billing-phone">844-555-0172</td>
                            </tr>
                        </table>

                        <input type="checkbox" id="is_delivery_same"
                             name="is_delivery_same" value="checked" checked="checked">
                        <label for="is_delivery_same">
                            A szállítási cím megegyezik a számlázási címmel.
                        </label><br>
                        <p class="warning-banner">
                            Adatmódosítás történt.<br>
                            Küldje el az űrlapot, mielőtt továbblépne!
                        </p>
                        <a href="edit.html?view=profile#form-addressing">&lt;Szerkesztés...&gt;</a>
                        <input type="submit" name="user_addressing_form" value="Küldés">
                    </fieldset>
                </form>
                <table>
                    <caption class="bottom">Rendeléseim</caption>
                    <tr>
                        <th scope="col" id="my-ordered-items">Termékek</th>
                        <th scope="col" id="my-order-date">Rendelés dátuma</th>
                        <th scope="col" id="my-order-status">Állapot</th>
                    </tr>
                    <tr>
                        <td headers="my-ordered-items">
                            <p><a href="show.html?view=product&id=1">
                                RUSSELL-HOBBS 18036-56 Kenyérsütő
                            </a></p>
                        </td>
                        <td headers="my-order-date">2020. április 1.</td>
                        <td headers="my-order-status">
                            Fizetetlen <a href="summary.html?view=order&id=1">
                            <img src="graphics/351525.png" width="25" height="25"
                                alt="Befizetés" title="Befizetés">
                            </a>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="data-view ">
            <h2>?view=product</h2>
                <div>
                    <div class="knobs paging">
                        <span class="highlight">&lt;&nbsp;[előző termék neve]</span>
                    </div>
                    <div class="knobs paging right">
                        <span class="highlight">[Következő termék neve]&nbsp;&gt;</span>
                    </div>
                </div>
                <article class="product-block item-discount">
                    <h3>RUSSELL-HOBBS 18036-56 Kenyérsütő</h3>
                    <img src="graphics/8857336938526.webp" width="100" height="100" alt="Termék-kép">
                    <dl class="description">
                        <div>
                            <dt>Kapacitás (kg)</dt>
                            <dd>1 kg</dd>
                        </div>
                        <div>
                           <dt>Késleltetett indítás</dt>
                           <dd>Igen</dd>
                        </div>
                        <div>
                           <dt>Színek</dt>
                           <dd>Fehér</dd>
                        </div>
                        <div>
                           <dt>Melegentartó funkció</dt>
                           <dd>Igen</dd>
                        </div>
                        <div>
                           <dt>Funkciók száma</dt>
                           <dd>12 db</dd>
                        </div>
                        <div>
                           <dt>Dagasztó lapok száma</dt>
                          <dd>1 db</dd>
                        </div>
                        <div>
                           <dt>Gluténmentes sütés</dt>
                          <dd>Igen</dd>
                        </div>
                    </dl>
                    <dl class="item-pricing">
                        <div class="old-price">
                            <dt>Régi ár</dt>
                            <dd>29 995 Ft.-</dd>
                        </div>
                        <div class="amount-of-discount">
                            <dt>Kedvezmény mértéke</dt>
                            <dd>-15%</dd>
                        </div>
                        <div class="last-price">
                            <dt>Utolsó ismert ár</dt>
                            <dd>25 495 Ft.-</dd>
                        </div>
                        <div class="quantity">
                            <dt>Mennyiség</dt>
                            <dd>Készleten</dd>
                        </div>
                    </dl>
                    <div class="knobs right">
                        <a href="">Kosárba</a>
                    </div>
                </article>
            </section>
            <section class="data-view">
            <h2>?view=product_list</h2>
                <div class="knobs">
                    <span class="active">Idő szerint</span>
                </div>
                <div class="knobs"><a
                    href="show.html?view=product_list&sort_order=asc">Növekvő</a><a
                    href="" class="active">Csökkenő</a>
                </div>
                <div class="knobs"><a
                    href="edit.html?view=product_list">Szerkesztés</a>
                </div>
                <table>
                    <caption class="bottom">Árukészlet</caption>
                    <tr>
                        <th scope="col" id="stock-id"><span>#</span></th>
                        <th scope="col" id="stock-item">Termék</th>
                        <th scope="col" id="stock-item-quantity">Mennyiség</th>
                        <th scope="col" id="stock-operation"></th>
                    </tr>
                    <tr>
                        <td headers="stock-id">1</td>
                        <td headers="stock-item"><a href="show.html?view=product&id=1">
                            RUSSELL-HOBBS 18036-56 Kenyérsütő
                        </a></td>
                        <td headers="stock-item-quantity">3</td>
                        <td headers="stock-operation">
                            <a href="edit.html?view=product&id=1">
                                <img src="graphics/351525.png" width="25" height="25"
                                    alt="Szerkesztés" title="Szerkesztés">
                        </a></td>
                    </tr>
                </table>
                <div class="knobs paging">
                    <span class="active">1</span>
                </div>
            </section>
            <section class="data-view">
            <h2>?view=profile_list</h2>
                <table>
                    <caption class="bottom">Felhasználók</caption>
                    <tr>
                        <th scope="col" id="profile-id"><span>#</span></th>
                        <th scope="col" id="profile-nickname">Felhasználó</th>
                        <th scope="col" id="profile-operation"></th>
                    </tr>
                    <tr>
                        <td headers="profile-id">
                            1
                        </td>
                        <td headers="profile-nickname">
                            <a href="show.html?view=profile&id=1">
                                Altavista
                            </a>
                        </td>
                        <td headers="profile-operation">
                            <a href="edit.html?view=profile&id=1">
                                <img src="graphics/351525.png" width="25" height="25"
                                    alt="Módosítás" title="Módosítás">
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td headers="profile-id">
                            2
                        </td>
                        <td headers="profile-nickname">
                            <a href="show.html?view=profile&id=2">
                                Raken
                            </a>
                        </td>
                        <td headers="profile-operation">
                            <a href="edit.html?view=profile&id=2">
                                <img src="graphics/351525.png" width="25" height="25"
                                    alt="Módosítás" title="Módosítás">
                            </a>
                        </td>
                    </tr>
                </table>
            </section>
            <section class="data-view">
            <h2>?view=order_list</h2>
                <table>
                    <caption class="bottom">Megrendelések</caption>
                    <tr>
                        <th scope="col" id="order-id"><span>#</span></th>
                        <th scope="col" id="ordered-by">Megrendelő</th>
                        <th scope="col" id="ordered-items">Rendelt áru</th>
                        <th scope="col" id="order-status">Átvétel/Állapot</th>
                        <th scope="col" id="order-action"></th>
                    </tr>
                    <tr>
                        <td headers="order-id">1</td>
                        <td headers="ordered-by"><a href="show.html?view=profile&id=1">
                            Altavista
                        </a></td>
                        <td headers="ordered-items">
                            <p>
                                <a href="show.html?view=product&id=1">
                                    (1) RUSSELL-HOBBS 18036-56 Kenyérsütő
                                </a>
                            </p>
                        </td>
                        <td headers="order-status">Fizetés alatt</td>
                        <td headers="order-action">
                            <a href="edit.html?view=order&id=1">
                                <img src="graphics/351525.png" width="25" height="25"
                                    alt="Szerkesztés" title="Szerkesztés">
                            </a>
                        </td>
                    </tr>
                </table>
            </section>
        </div>
    </main>
    <footer>
        <table id="opening_hours">
            <caption class="top">Nyitvatartási rend</caption>
            <tr>
                <th id="opening_hours_weekday">Nap</th>
                <th id="opening_hours_is_opened">Nyitva</th>
            </tr>
            <tr>
                <td headers="opening_hours_weekday">Hétfő-Péntek</td>
                <td headers="opening_hours_is_opened">8-16 óra</td>
            </tr>
            <tr>
                <td headers="opening_hours_weekday">Szombat</td>
                <td headers="opening_hours_is_opened">8-14 óra</td>
            </tr>
            <tr>
                <td headers="opening_hours_weekday">Vasárnap</td>
                <td headers="opening_hours_is_opened">--</td>
            </tr>
        </table>
        <p>
            Vállalkozásunk számítástechnikai eszközök értékesítésével foglalkozik, elsődlegesen Magyarországon belül, postai úton.
        </p>
        <p>
            Átvétel: Személyesen pesti telephelyünkön, egyébként Foxpost- és MPL-csomagautomatán, illetve futáron keresztül vehetik át rendelésüket.
        </p>
        <p id="footer-data">
            &copy; 2020. NetenVeszem Kft.;
            <a href="https://twitter.com">Twitter&nbsp;oldalunk</a>&nbsp;<a 
             href="feedback.html">Visszajelzés</a>
        </p>
        <!--
        <p>
            További információk: Adatkezelési információk, Szállítási információk
        </p>
        -->
    </footer>
</body>
</html>
