/*
 - Breadcrumb
 - Certain Banners
 - Product-block
 - Form
 - "Binary-checked" form
 - Table
 - Caption positioning using HTML (.top / .bottom)
 - Listing-knobs
*/
.breadcrumb {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    font-size: 1.1em;
}
.banner, .warning-banner {
    display: block;
    text-align: center;
}

/* Product-block */
    /* Description */
.product-block > .description, .product-block > .no-description {
    padding: 0;
    margin: 0;
}
.product-block > .description > div {
    margin: 0.2em 0;
}
.product-block > .description dt {
    display: inline-block;
    max-width: 70%;
}
.product-block > .description dd {
    margin: 0 0 0 -50%;
    float: right;
}
.product-block > .description dt::after {
    content: ':';
}
.product-block > .no_description {
    text-align: center;
}

    /* Pricing style */
.product-block > .item-pricing {
    margin: 0;
}
.product-block > .item-pricing > * {
    display: block;
    text-align: center;
}
.product-block > .item-pricing > * > * {
    display: inline-block;
    margin: 0;
}
.product-block > .item-pricing > * > dt {
    display: none;
}
.product-block > .item-pricing > .last-price {
    font-size: 1.5em;
}

/* Start w/ hidden discount.. */
.product-block > .item-pricing > .old-price,
 .product-block > .item-pricing > .amount-of-discount {
    display: none;
}
/* ..then show it if neccessary */
.item-discount.product-block > .item-pricing > .old-price,
 .item-discount.product-block > .item-pricing > .amount-of-discount {
    display: block;
}

.product-block > .item-pricing > .amount-of-discount {
    margin: 0.3em 0;
}
.product-block > .item-pricing > .amount-of-discount:before {
    content: '(';
}
.product-block > .item-pricing > .amount-of-discount:after {
    content: ')';
}
.item-shortage.product-block > .item-pricing > .quantity > dd {
    content: 'Nem elérhető';
    display: block;
    text-align: center;
    font-size: 1.5em;

    background-image: url("graphics/notavail.png");
    background-position: left;
    background-repeat: no-repeat;
}

form {
    margin: 0.5em 0;

    padding-top: 0.8em;
}
form fieldset {
    max-width: 50%;
    display: block;
    margin: auto;
    text-align: right;
    padding-right: 1.5em;

    border-width: 0;
    border-top-width: initial;
}
form fieldset legend {
    margin-top: -0.8em;
}
form fieldset input {
    margin: 0.2em 0;
}

form.binary-checking .warning-banner {
    display: none;
}

form.binary-checking
  input[type="radio"][checked]:not(:checked)
  ~ .warning-banner {
    display: block;
}
form.binary-checking
  input[type="radio"]:not([checked]):checked
  ~ .warning-banner {
    display: block;
}
form.binary-checking
  input[type="checkbox"][checked]:not(:checked)
  ~ .warning-banner {
    display: block;
}
form.binary-checking
  input[type="checkbox"]:not([checked]):checked
  ~ .warning-banner {
    display: block;
}

table td, table th {
    padding: 0.1em 1em;
}
table td input {
    display: block;
}
table caption.top {
    caption-side: top;
}
table caption.bottom {
    caption-side: bottom;
}
table p {
    margin: 0;
}

.knobs.right {
    float: right;
}
.knobs {
    display: inline-block;

    border: 0.1em black solid;
    border-radius: 0.2em;
    padding: 0 0.15em;
    margin: 0.2em;
}
.knobs > * {
    display: inline-block;

    border: black solid;
    border-width: 0 0.1em;
    padding: 0.3em 0.4em;
}
.knobs > :first-child {
    border-left: 0;
}
.knobs > :last-child {
    border-right: 0;
}
