/*
Designing listings
*/
#main-content > .design-triangle {
    /* fallback colors */
    border-color: grey transparent transparent grey;
    border-style: solid;
    border-width: 150px 150px 0 0;
    height: 0;
    width: 0;
    background-color: initial;

    position: absolute;
    z-index: -1;

}

/* Breadcrumb */
.item-section .breadcrumb h2 {
    display: inline-block;
    font-size: inherit;
    margin: inherit;

    font-size: 1.4em;
}

/* Items */
    /* General appearance */
.item-section > article, .item-section > section {
    display: inline-block;

    width: 100%;
    max-width: 30%;
    min-width: 12em;

    padding: 0.4em 0.25em 0.2em;
    margin: 0.5em 0.25em;

    vertical-align: top;
    min-height: 25em;
}
.item-section > article *, .item-section > section * {
    max-width: 100%;
}
/*
.item-section > article *, .item-section > section * {
    / * Used for visibility concerns * /
    background-color: inherit;
}
*/

    /* Introducing flexbox organizer */
.item-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.item-section .breadcrumb {
    flex: 0 0 100%;
}

    /* Title & Description style */
.item-section > article h3, .item-section > section h3 {
    margin: 0.05em 0.1em 0;
}
.item-section > article img, .item-section > section img {
    display: block;
    width: 10em;
    margin: 0.75em auto;
}

    /* Description */
.description, .no_description {
    padding: 0;
    margin: 0;
    /*height: 3.6em;*/
}
.description > div {
    margin: 0.2em 0;
}
.description dt {
    display: inline-block;
    max-width: 70%;
}
.description dd {
    margin: 0 0 0 -50%;
    float: right;
}
.description dt::after {
    content: ':';
}
.description :nth-child(n+4) {
    display: none;
}
.no_description {
    text-align: center;
}

    /* Pricing style */
.item-pricing {
    margin: 0;

    background-color: inherit;
}
.item-pricing > * {
    display: block;
    text-align: center;
}
.item-pricing > * > * {
    display: inline-block;
    margin: 0;
}
.item-pricing > * > dt {
    display: none;
}
.item-pricing > .last-price {
    font-size: 1.5em;
}

/* Other remarks */
.item-section > .item-discount {
    background-image: url("graphics/discount-mark.png");
    background-position: top -0.15em right 0.2em;
    background-repeat: no-repeat;
    /*background-size: 24px 36px;*/
    /* proper background-size: 20px 36px;*/
    background-size: 1.2em 2.16em;
}
.item-section > .item-discount h3 {
    margin-right: 0.95em; /*(0.2+1.2-0.25)em*/
}
/* Start w/ hidden discount */
.item-pricing > .old-price, .item-pricing > .amount-of-discount {
    display: none;
}
.item-discount .item-pricing > .old-price,
 .item-discount .item-pricing > .amount-of-discount {
    display: block;
}
/*
.item-discount > .item-last-price {
    border-image: url("graphics/discount-strip-line.png");
    border-width: 0;
    border-bottom: 1em;
}
*/
.item-pricing > .amount-of-discount {
    margin: 0.3em 0;
}
.item-pricing > .amount-of-discount:before {
    content: '(';
}
.item-pricing > .amount-of-discount:after {
    content: ')';
}
.item-shortage .quantity > dd {
    content: 'Nem elérhető';
    display: block;
    text-align: center;
    font-size: 1.5em;

    background-image: url("graphics/notavail.png");
    background-position: left;
    background-repeat: no-repeat;
}
